@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/roboto-mono/500.css";
@import "@fontsource/roboto-mono/600.css";
/* Source Serif Pro */
@import "@fontsource/source-serif-pro/400.css";
@import "@fontsource/source-serif-pro/600.css";
@import "@fontsource/source-serif-pro/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
:root {
  background-color:#F3F1ED; 
  font-family: "Manthorpe", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anonymous {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}
